<!-- Begin Footer
================================================== -->
<div class="footer">
    <p class="pull-left">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.name }}</p>
    <p class="pull-right">
        <a href="https://ai.deepcomet.space" target="_blank">Deepcomet AI</a> &bull;
        <a href="https://docs.deepcomet.space" target="_blank">Documentation</a> &bull;
        <a href="https://github.com/Nehal-aditya" target="_blank">GitHub</a>
    </p>
    <div class="clearfix"></div>
</div>
<!-- End Footer
================================================== -->
